li {
    list-style: none;
    margin: 10px auto;
    border: 1px solid #a9b4c2;
    max-width: 300px;
    color: white;
}

.even {
    
    background-color: #6f6296	;
}

.odd {
    background-color: #5b3372;
}