ul {
    padding: 10px;
    width: 50%;
    margin: auto;
    list-style: none;
    display: block;
}


.show {
    background-color: #7d98a1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    width: 150px;
    border-radius: 50px;
}

.show:hover {
    background-color: #566E76;
}

.hidden {
    display: none;
}

.list-container {
    display: flex;
    flex-direction: row;
}
